
.project-poster {
    height: 75vh;
    width: 100%;
}

.project-main {
    margin-top: 2rem;
}

.project-heading {
    font-weight: 800; 
    font-size: 3rem; 
    color: #454444; 
    margin-bottom: 1rem;
}

.project-type {
    font-weight: 600; 
    font-size: 1.125rem;
}

.project-intro {
    font-size: 1.2rem
}

.subtitle1 {
    font-weight: 900; 
    font-size: 1.55rem; 
    color: #454444;
}

.section-divider {
    margin-top: 1.5rem; 
    margin-bottom: 1.5rem;
}

.subtitle {
    font-weight: 900; 
    font-size: 2rem; 
    color: #454444; 
    margin-bottom: 1.25rem;
}

.sub-content {
    font-size: 1.135rem; 
    font-weight: 600;
}

.mb-3 {
    margin-bottom: 1.25rem !important;
}

.adj-left {
    margin-left: 2rem;
}

.adj-size {
    font-size: 1.25rem !important;
}

.adj-top {
    margin-top: 2rem;
}

.feature-vid {
    width: 700px;
    height: 500px;
}

.img-jr1 {
    height: 200px;
    width: 300px;
}

.img-jr2 {
    height: 200px;
    width: 400px;
}

.RM-img {
    height: 70%;
    width: 70%;
    margin-left: 10rem;
}

.fop-img {
    height: 50%;
    width: 40%;
    margin-left: 29rem;
}